
body {background-image: url("/static/haha.jpg");}

body { background-color:blue; }
.highlightme { background-color:#FFFF00; }
p { background-color:#FFFFFF; }
.highlightme { background-color:#FFFF00; }
